* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Sora", sans-serif;
}

nav {
  background: linear-gradient(to bottom, #000, #333);
  height: 4.75rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  opacity: 0.95;
  position: sticky;
}

.links {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
}

a {
  display: block;
  color: #dedede;
  text-align: center;
  padding: 1.5rem;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.logo {
  width: 3rem;
}

.login-img {
  width: 1.6rem;
  transition: opacity 0.3s ease-in-out;
  opacity: 0.8;
  cursor: pointer;
}

.login-img:hover {
  opacity: 1;
}

a:hover {
  color: #fabc5f;
  opacity: 0.8;
}
