* {
  margin: 0px;
  padding: 0px;
}

.county {
  fill:#005DAA;
}

.county:hover {
  fill: grey;
}

#county_info {
  margin-top: 10em;
  margin-bottom: 3em;
}

@media only screen and (min-width: 768px) {
  body {
    font-family: "Sora", sans-serif;
    background: url("../img/bg2.jpg");
    background-size: cover;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .openMenu,
  .closeMenu,
  .show-filters-btn {
    display: none;
  }

  .login-link {
    display: none;
  }
  body {
    font-family: "Sora", sans-serif;
    background: url("../img/bg2.jpg");
    background-size: cover;
    overflow-x: hidden;
    display: flex;
  }

  #submit-stars {
    cursor: pointer;
  }
  .stars > i:hover {
    color: lightgray;
  }
  nav {
    z-index: 10;
    background: #081b38;
    height: 4.25rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    opacity: 0.95;
    position: fixed;
  }

  .links {
    display: flex;
    justify-content: center;
  }

  ul {
    list-style-type: none;
  }

  a {
    display: block;
    color: #dedede;
    text-align: center;
    padding: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
  }

  .scrollable-list {
    background-color: lightgray;
    width: 8rem;
    height: 6rem;
    overflow: auto;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    margin-right: 1rem;
    border-radius: 0.4rem;
    padding: 0.8rem;
    min-height: 3rem;
    max-height: 5rem;
  }

  .logo {
    width: 2.75rem;
  }

  .login-img {
    width: 1.6rem;
    transition: opacity 0.3s ease-in-out;
    opacity: 0.8;
    cursor: pointer;
  }

  .login-img:hover {
    opacity: 1;
  }

  a:hover {
    color: #fabc5f;
    opacity: 0.8;
  }

  .chart-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background: rgba(8, 27, 56, 0.6);
    padding: 3rem;
    border-radius: 0.5rem;
    margin-top: 7rem;
  }

  .chart {
    border: 1rem solid rgba(8, 27, 56);
    border-radius: 0.5rem;
  }

  .chart {
    display: none;
  }

  .visualizer-wrapper {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .filters {
    padding: 2rem;
    width: 10rem;
    height: 21rem;
    overflow: auto;
    background: #081b38;
    border-radius: 0.5rem;
    margin-right: 1rem;
  }

  .filters > h4 {
    color: white;
  }

  .chart-btn,
  .export-btn {
    padding: 0.3rem;
    width: 7rem;
    cursor: pointer;
  }
  #export-format {
    padding: 0.3rem;
  }

  .feedback-section {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .feedback-section > h1 {
    color: #081b38;
  }
  .feedback-card {
    display: flex;
    padding: 2rem 2.5rem;
    flex-direction: column;
    justify-content: space-around;
    width: 30rem;
    height: 8rem;
    background: white;
    border-radius: 0.5rem;
    font-weight: 300;
    font-size: 0.8rem;
    border: 0.3rem solid rgba(8, 27, 56, 0.5);
    margin-bottom: 1rem;
  }

  .submit-feedback {
    display: flex;
    padding: 2rem 2.5rem;
    flex-direction: column;
    width: 30rem;
    height: 11rem;
    background: white;
    border-radius: 0.5rem;
    font-weight: 300;
    font-size: 0.8rem;
    border: 0.3rem solid rgba(8, 27, 56, 0.5);
  }
  .submit-feedback > textarea {
    margin-top: 1rem;
    height: 8rem;
    font-family: "Sora", sans-serif;
    padding: 1rem;
    font-size: 0.8rem;
  }
  .submit-feedback > button {
    font-family: "Sora", sans-serif;
    height: 3rem;
    font-size: 0.8rem;
    cursor: pointer;
  }
}
@media only screen and (max-width: 768px) {
  body {
    font-family: "Sora", sans-serif;
    background: url("../img/bg2.jpg");
    background-size: cover;
    overflow-x: hidden;
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
  }

  nav {
    background: #081b38;
    width: 100vw;
    display: flex;
    opacity: 0.95;
    position: fixed;
    padding: 1rem 0rem;
    z-index: 20;
  }
  .links {
    display: flex;
    justify-content: center;
  }

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: #c5d6f0;
  }

  ul > li > a {
    display: block;
    color: #dedede;
    text-align: center;
    padding: 1.5rem;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
  }

  .logo {
    display: none;
    width: 2.75rem;
  }

  .login-img {
    display: none;
    width: 1.6rem;
    transition: opacity 0.3s ease-in-out;
    opacity: 0.8;
    cursor: pointer;
  }

  .login-img:hover {
    opacity: 1;
  }
  nav .links {
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #081b38;
    transition: top 1s ease 0s;
    display: none;
  }
  nav .links .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  nav .openMenu {
    display: block;
    margin-left: 2rem;
    color: white;
  }
  nav .links li a:hover {
    background: none;
    color: rgb(255, 123, 0);
  }
  .icons i {
    display: inline-block;
    padding: 12px;
  }

  a:hover {
    color: #fabc5f;
    opacity: 0.8;
  }

  nav .links {
    display: none;
  }
  nav .closeMenu {
    display: none;
    color: white;
  }

  .chart-wrapper {
    margin-top: 7rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .chart-view {
    position: relative;
    padding-bottom: 100%;
    height: 0;
    width: 100%;
    overflow: auto;
  }
  .chart {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
  }
  .filters {
    width: 90vw;
    height: 18rem;
    overflow: auto;
    background: #092042;
    display: none;
    margin-bottom: 2rem;
  }

  .show-filters-btn {
    width: 90vw;
    border-radius: 0;
    height: 2rem;
    background: #081b38;
    border: none;
    color: #c5d6f0;
    cursor: pointer;
    font-weight: 500;
  }
  .filters > h4 {
    color: white;
  }

  .chart-btn,
  .export-btn {
    padding: 0.3rem;
    width: 7rem;
    cursor: pointer;
  }
  #export-format {
    padding: 0.3rem;
  }

  .scrollable-list {
    background-color: lightgray;
    width: 8rem;
    overflow: auto;
    margin-bottom: 0.5rem;
    font-size: 0.8rem;
    border-radius: 0.4rem;
    padding: 0.8rem;
    min-height: 2rem;
    max-height: 5rem;
    margin-left: 25%;
  }

  .feedback-section {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .feedback-section > h1 {
    color: #081b38;
  }
  .feedback-card {
    display: flex;
    padding: 2rem 2.5rem;
    flex-direction: column;
    justify-content: space-around;
    width: 15rem;
    height: 12rem;
    background: white;
    border-radius: 0.5rem;
    font-weight: 300;
    font-size: 0.8rem;
    border: 0.3rem solid rgba(8, 27, 56, 0.5);
    margin-bottom: 1rem;
  }

  .submit-feedback {
    display: flex;
    padding: 2rem 2.5rem;
    flex-direction: column;
    justify-content: space-around;
    width: 15rem;
    height: 11rem;
    background: white;
    border-radius: 0.5rem;
    font-weight: 300;
    font-size: 0.8rem;
    border: 0.3rem solid rgba(8, 27, 56, 0.5);
  }
  .submit-feedback > textarea {
    margin-top: 1rem;
    height: 8rem;
    font-family: "Sora", sans-serif;
    padding: 1rem;
    font-size: 0.8rem;
  }
  .submit-feedback > button {
    font-family: "Sora", sans-serif;
    height: 3rem;
    font-size: 0.8rem;
    cursor: pointer;
  }
  #submit-stars {
    cursor: pointer;
  }
  #submit-stars:hover: {
    color: lightgray;
  }
}
