<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <button id="get-users-btn">Get Users</button> <br> <br>

    <input type="text" id="username-input" placeholder="Enter username">
    <button id="delete-user-button">Delete User</button> <br> <br>

    <form class="my-form" id="register-form">
        <div class="invalid-input">

        </div>
        <label for="email"> Email </label>
        <input type="text" name="email" placeholder="Email address">
        <label for="username"> Username </label>
        <input type="text" name="username" placeholder="Username">
        <label for="email"> Password </label>
        <input type="password" name="password" placeholder="Password">
        <input type="checkbox" id="is-admin-checkbox"> Is Admin
        <button class="register-btn" type="submit">Add User</button>
    </form> <br>

    <input type="text" id="review-id-input" placeholder="Enter review id">
    <button id="delete-review-button">Delete Review</button> <br> <br>

    <script src="../static/scripts/account/admin.js"></script>
</body>

</html>