<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/be0511c2b3.js" crossorigin="anonymous"></script>
</head>
<title>UnX</title>
</head>

<body>
    <nav>
        <div class="logo-wrapper">
            <img src="../static/img/logo.png" class="logo">
        </div>
        <div class="openMenu"><i class="fa fa-bars"></i></div>
        <ul class="links">
            <li><a href="login.html">LOGIN</a></li>
            <li><a href="index.html">HOME</a></li>
            <li><a href="visualizer.html">VISUALIZER</a></li>
            <li><a href="about.html">ABOUT</a></li>
            <div class="closeMenu"><i class="fa fa-times"></i></div>
        </ul>
        <a href="register.html">
            <div class="milbei">
                <img src="../static/img/icons/account_icon.png" class="login-img">
            </div>
        </a>
    </nav>
    <div class="welcome-wrapper">
        <h1>Welcome to UnX!</h1>
        <button>
            <a href="#whatis">Learn more</a>
        </button>
    </div>
    <div class="whatis-wrapper" id="whatis">
        <div class="whatis-left-container">
            <h1>What is UnX?</h1>
            <p>Unemployment Explorer is a web-based platform that offers a comprehensive analysis of unemployment data.
                Our goal is to provide users with valuable insights into the dynamics of unemployment, including trends,
                demographics, and economic factors.<br><br> Through interactive visualizations and data analysis tools,
                Unemployment Explorer aims to empower policymakers, researchers, and the general public with the
                information needed to better understand the complex issue of unemployment.</p>
        </div>
        <div class="whatis-right-container">
            <img src="../static/img/logo.png">
            <h1>UnX</h1>
        </div>
    </div>
    <div class="intermediate-div">
        <h1>Explore our visualizer</h1>
        <div class="stat-types">
            <div class="chart-card">
                <img src="../static/img/icons/bar_chart_icon.png">
                <h4>Bar charts</h4>
            </div>
            <div class="chart-card">
                <img src="../static/img/icons/pie_chart_icon.png">
                <h4>Pie charts</h4>
            </div>
            <div class="chart-card">
                <img src="../static/img/icons/graph_icon.png">
                <h4>Graphs</h4>
            </div>
        </div>
    </div>
    <div class="members-wrapper">
        <div class="members-left-container">
            <h1>Who are we?</h1>
            <p>We are a small but efficient team consisting of three students united by their love for coding and memes.
            </p>
        </div>
        <div class="members-right-container">
            <div class="member-card">
                <div class="image-holder">
                    <img src="../static/img/pfpic1.jpg">
                </div>
                <h4><a href="https://github.com/tudstk" target="_blank">tudstk</a></h4>
                <h6>Tudor Stroescu</h6>
            </div>
            <div class="member-card">
                <div class="image-holder">
                    <img src="../static/img/pfpic2.jpg">
                </div>
                <h4><a href="https://github.com/stefali1-dev" target="_blank">stefali1-dev</a></h4>
                <h6>Ștefan Leuștean</h6>
            </div>
            <div class="member-card">
                <div class="image-holder">
                    <img src="../static/img/pfpic3.jpg">
                </div>
                <h4><a href="https://github.com/db2257" target="_blank">db2257</a></h4>
                <h6>Dragoș Bejan</h6>
            </div>
        </div>

    </div>

    <script>
        const learnMoreButton = document.querySelector('.welcome-wrapper button');
        const whatisSection = document.querySelector('#whatis');
        learnMoreButton.addEventListener('click', (event) => {
            event.preventDefault();
            const sectionPosition = whatisSection.offsetTop;
            window.scrollTo({
                top: sectionPosition,
                behavior: 'smooth'
            });
        });

        function logout() {
            localStorage.removeItem('token');
            window.location.href = '/src/views/login.html';
        }

        function getEmailFromToken() {
            const token = localStorage.getItem('token');
            if (token) {
                const [, payload] = token.split('.');
                const decodedPayload = atob(payload);
                const { username } = JSON.parse(decodedPayload);
                // return email.split('@')[0];;
                return username;
            }
            return null;
        }

        function updateUI() {
            const milbeiElement = document.querySelector('.milbei');
            const email = getEmailFromToken();
            if (email) {
                milbeiElement.style.display = 'none';
                const nav = document.querySelector('nav');
                const emailElement = document.createElement('span');
                const logoutElement = document.createElement('span');
                logoutElement.textContent = 'Logout';
                emailElement.textContent = "salut, " + email;
                emailElement.style.color = 'white';
                emailElement.style.fontSize = "0.9rem";
                logoutElement.style.color = 'white';
                logoutElement.style.cursor = 'pointer';
                logoutElement.addEventListener('click', logout);
                logoutElement.style.fontSize = "0.9rem";

                nav.insertAdjacentElement('beforeend', emailElement);
                nav.insertAdjacentElement('beforeend', logoutElement);
            } else {
                milbeiElement.style.display = 'block';
            }
        }
        window.addEventListener('DOMContentLoaded', updateUI);

    </script>
    <script src="../static/scripts/hamburger.js"></script>


</body>

</html>