<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div class="form-wrapper">
        <div class="form-box">
            <div class="top-text-login">
                <h2 class="welcome-text">Welcome to UnX!</h2>
                <h5 class="description-text">Log in to UnX and explore unemployment statistics!</h5>
            </div>

            <form class="my-form">
                <label for="email"> Email </label>
                <input type="text" name="email" placeholder="Your email address">
                <label for="email"> Password </label>
                <input type="password" name="password" placeholder="Your password">
                <button class="register-btn" type="submit"> Login </button>
                <div class="already">
                    <h6 class="already-text">Don't have an account?</h6>
                    <a href="register.html" class="login-link">
                        Register here
                    </a>
                </div>
            </form>
        </div>
    </div>
</body>

</html>