<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sora&display=swap" rel="stylesheet">
    <title>Register</title>
</head>

<body>
    <div class="form-wrapper">
        <div class="form-box">
            <div class="top-text-register">
                <h2 class="welcome-text">Welcome to UnX!</h2>
                <h5 class="description-text">Begin your journey to our platform by creating an account:</h5>
            </div>

            <form class="my-form" id="register-form">
                <div class="invalid-input">

                </div>
                <label for="email"> Email </label>
                <input type="text" name="email" placeholder="Your email address">
                <label for="username"> Username </label>
                <input type="text" name="username" placeholder="Your username">
                <label for="email"> Password </label>
                <input type="password" name="password" placeholder="Your password">
                <div class="terms-checkbox" id="terms-checkbox">
                    <input type="checkbox">
                    <h6 class="checkbox-text">I have read the terms and conditions.</h6>
                </div>
                <button class="register-btn" type="submit">Register</button>
                <div class="already">
                    <h6 class="already-text">Already have an account?</h6>
                    <a href="login.html" class="login-link">
                        Log in
                    </a>
                </div>
            </form>
        </div>
    </div>

    <script src="../static/scripts/auth/register.js"></script>
</body>

</html>